*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
}
body {
  background: #f3f2fa;
  width: 100vw;
}
.header-text {
  font-size: 16px;
}
.image-upload {
  .ant-upload-text {
    color: #1a1a1f;
    font-size: 20px;
    span {
      text-decoration: underline;
    }
  }
  .file-uploaded {
    width: 600px;
    height: 56px;
    background: #f2f2fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-radius: 12px;
    .image-info {
      display: flex;
      align-items: center;
      gap: 15px;
    }
  }
}

.exit-icon {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  &::after,
  &::before {
    content: "";
    display: block;
    width: 2px;
    height: 20px;
    background-color: black;
    rotate: 45deg;
    position: absolute;
  }
  &::before {
    rotate: -45deg;
  }
  &:hover {
    background-color: #f5f4f9;
  }
}
.ant-select-selector {
  &:hover {
    background: #f9f9fa !important;
    outline: none !important;
    border: 1px solid #d9d9d9 !important;
  }
}

.ant-select-selection-item {
  display: flex;
  align-self: center;
  flex: none;
  box-sizing: border-box;
  max-width: 100%;
  height: unset !important;
  margin-top: unset !important;
  margin-bottom: unset !important;
  line-height: unset !important;
  background: unset !important;
  border: unset !important;
  border-radius: unset !important;
  cursor: default;
  transition: font-size 0.3s, line-height 0.3s, height 0.3s;
  margin-inline-end: unset !important;
  padding-inline-start: unset !important;
  padding-inline-end: unset !important;
}

.header-component {
  width: calc(100% - 80px);
  height: 80px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.blog-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  h1 {
    font-size: 60px;
  }
}

.categories-section {
  display: flex;
  overflow-x: scroll;
  justify-content: center;
  width: 100%;
  margin-top: 70px;
  .categories {
    display: flex;
    gap: 10px;
  }
}
