.image-upload {
  .header-text {
    font-size: 16px;
  }
  .ant-upload-text {
    color: #1a1a1f;
    font-size: 20px;
    span {
      text-decoration: underline;
    }
  }
  .file-uploaded {
    width: 600px;
    height: 56px;
    background: #f2f2fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-radius: 12px;
    .image-info {
        display: flex;
        align-items: center;
        gap: 15px;
    }
  }
}

.exit-icon {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  &::after,
  &::before {
    content: "";
    display: block;
    width: 2px;
    height: 20px;
    background-color: black;
    rotate: 45deg;
    position: absolute;
  }
  &::before {
    rotate: -45deg;
  }
  &:hover {
    background-color: #f5f4f9;
  }
}
