@font-face {
  font-family: "FiraGo";
  src: url("../fonts/FiraGO-Regular.ttf");
}
*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  font-family: "FiraGo", sans-serif;
}
body {
  background: #f3f2fa;
  width: 100vw;
  overflow-x: hidden;
  font-family: "FiraGo";
}
.header-text {
  font-size: 16px;
}
.image-upload {
  gap: 15px;
  display: flex;
  flex-direction: column;
  .ant-upload-drag-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 180px;
  }
  .ant-upload-text {
    color: #1a1a1f;
    font-size: 20px;
    span {
      text-decoration: underline;
    }
  }
  .file-uploaded {
    width: 600px;
    height: 56px;
    background: #f2f2fa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-radius: 12px;
    .image-info {
      display: flex;
      align-items: center;
      gap: 15px;
    }
  }
}

.exit-icon {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 200px;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  &::after,
  &::before {
    content: "";
    display: block;
    width: 2px;
    height: 20px;
    background-color: black;
    rotate: 45deg;
    position: absolute;
  }
  &::before {
    rotate: -45deg;
  }
  &:hover {
    background-color: #f5f4f9;
  }
}
.ant-select-selector {
  border-radius: 12px !important;
  &:hover {
    background: #f9f9fa !important;
    outline: none !important;
    border: 1px solid #d9d9d9 !important;
  }
}

.ant-select-selection-item {
  display: inline-block;
  align-self: flex-start;
  flex: none;
  box-sizing: border-box;
  max-width: 100%;
  height: unset !important;
  margin-top: unset !important;
  margin-bottom: unset !important;
  line-height: unset !important;
  background: unset !important;
  border: unset !important;
  border-radius: unset !important;
  cursor: default;
  transition: font-size 0.3s, line-height 0.3s, height 0.3s;
  margin-inline-end: unset !important;
  padding-inline-start: unset !important;
  padding-inline-end: unset !important;
  .ant-typography {
    padding: 8px 30px !important;
  }
}

.header-component {
  width: calc(100% - 80px);
  height: 80px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.blog-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  h1 {
    font-size: 60px;
  }
}

.categories-section {
  display: flex;
  justify-content: center;
  width: 100%;
  //   padding: 0 100px;
  margin-top: 70px;
}
.categories {
  overflow-x: scroll;
  display: flex;
  //   flex-wrap: wrap;
  gap: 10px;
  min-width: 80px;
}
.blog-component {
  width: 330px;
  min-height: 620px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  .ant-btn {
    &:hover {
      background: unset !important;
    }
  }
}

.blogs {
  display: flex;
  padding: 80px 15%;
  gap: 150px;
  // justify-content: center;
  flex-wrap: wrap;
}

.arrow-btn {
  position: absolute;
  padding: 5px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: all 0.2s linear;
  border: none;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    z-index: 11;
    display: block;
    width: 15px;
    height: 15px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
  }
}

.back {
  background: white;
  rotate: -45deg;
  &::after {
    left: 19px;
    top: 20px;
    border-color: black;
  }

  &:hover {
    background: #cfced6;
  }
}

.next {
  background: #512be7;
  rotate: 135deg;

  &::after {
    left: 19px;
    top: 18px;
    border-color: white;
  }
}

.single-blog-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 0 0;
  gap: 100px;
  .blog-info-section {
    display: flex;
    gap: 30px;
    flex-direction: column;
    width: 720px;
    .blog-head {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .author-data {
        display: flex;
        flex-direction: column;
        gap: 10px;
        h1 {
          font-size: 20px;
          font-weight: 500;
        }
        p {
          color: #85858d;
          font-size: 16px;
          font-weight: 400;
        }
      }
      .title {
        font-size: 38px;
        font-weight: 700;
        width: 100%;
      }
    }
    .blog-text {
      color: #404049;
      font-family: FiraGO;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
    }
  }
  .similar-blogs {
    width: 75%;
    .blogs-list {
      display: flex !important;
      gap: 150px;
    }
    .header {
      display: flex;
      justify-content: space-between;
      width: 95%;
      height: 80px;
      align-items: center;
      padding-bottom: 50px;
      .btns {
        display: flex;
        gap: 35px;
      }
      h1 {
        color: #1a1a1f;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
      }
    }
  }
  .prev-btn,
  .next-btn {
    width: 50px;
    height: 50px;
  }
}
.login-modal {
  .ant-input {
    &:hover {
      border: 1.5px solid #5d37f3;
      background: #f7f7ff;
    }
  }
}

.add-blog {
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 10px;
  margin: 0px 110%;
  align-items: flex-start;
  .ant-input {
    width: 288px;
    height: 44px;
    flex-shrink: 0;
    border-radius: 12px;
    font-size: 14px;
    border: 1px solid #e4e3eb;
    background: #fcfcfd;
    &::placeholder {
      font-size: 18px;
    }
    // border: " 1.5px solid #5D37F3",
    // background: "#F7F7FF",
  }
  .ant-picker {
    width: 290px;
    height: 44px;
    border-radius: 12px;
  }
  .ant-btn {
    display: flex;
    width: 288px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    left: 100%;
    background: #5d37f3;
    &:disabled {
      background: #e4e3eb;
      &:hover {
        background: #e4e3eb !important;
      }
    }
    color: white;
    &:hover {
      background: #5d37f3 !important;
      color: white !important;
    }
  }
}

.image-input {
  width: 600px;
  height: 180px;
  background: #f4f3ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 12px;
  border: 1px dashed #85858d;
  cursor: pointer;
  #file {
    display: none;
  }
  &:hover {
    background: #f1effb !important;
  }
}

.success {
  border: 1px solid #14d81c !important;
  background: #f8fff8 !important;
  &:hover {
    border: 1px solid #14d81c !important;
    background: #f8fff8 !important;
  }
}

.error {
  border: 1px solid #ea1919 !important;
  background: #faf2f3 !important;
  &:hover {
    border: 1px solid #ea1919 !important;
    background: #faf2f3 !important;
  }
}

img {
  object-fit: cover !important;
}
.req-list {
  position: relative;
  top: -20px;
  left: 30px;
}
.req-text {
  color: #85858d;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.txt-success {
  color: #14d81c;
}

.txt-error {
  color: #ea1919;
}

.pb {
  padding-bottom: 200px !important;
}
